<div class="well">
  <div class="media-left">
    <div class="media-object">
      <%= image_tag("tiy_logo_1.png", size: "100") %>
    </div>
  </div>
  <div class="media-body">
    <h1 class="pull-right">The Iron Stories</h1>
  </div>
</div>

<div class="table-responsive">
  <% @stories.each.with_index do |story, index| %>

    <div class="media">
      <div class="media-left">
        <% if story.image_url(:thumbnail) %>
          <%= link_to image_tag(story.image_url(:thumbnail)), story.image_url(:original) %>
        <% else %>
          <%= image_tag("tiy_logo_1.png", size: "50") %>
        <% end %>
      </div>
      <div class="media-body">
        <span class="badge"><%= index + 1 %></span>
        &nbsp;<%= link_to story.title, story.url_link %>
        <div class="pull-right">
          <%= link_to story do %>
          <h4><div class="label label-default">
            Comments <%= story.comments.count %>
          </div></h4>
          <% end %>
        </div>
        <br>
        <br>
        Created by <%= story.created_by.name %> about <%= time_ago_in_words(story.created_at) %> ago.
      </div>
      <hr>
    </div>
  <% end %>
</div>

<div class="well well-sm text-center">
  <div><%= paginate @stories %></div>
  <div><%= page_entries_info @stories %></div>
</div>
